{# _ticket/templates/home/index.html_ #}

{% extends "layout.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
<div class="container">
  <div class="row">
    <a href="{{ url_for('main.index') }}">Home</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-12">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.buyer_email.label }}<br>
            {{ form.buyer_email(size=64) }}
        </p>
        <p>
            {{ form.buyer_tel.label }}<br>
            {{ form.buyer_tel(size=32) }}
        </p>
        <p>
            {{ form.quanlity.label }}<br>
            {{ form.quanlity }}
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount }}
        </p>
        <p>
            {{ form.note.label }}<br>
            {{ form.note }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
  </div>
</div>
    
{%- endblock %}